.row {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

aside {
    flex-basis: calc(25% - 4px);
}

article {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    flex-basis: 100%;
}

.image {
    flex-basis: calc(100% / 3);
}