.row {
    padding: 1rem 0;
    overflow: auto;
}

aside {
    float: left;
    width: calc(25%);
}

article {
    float: right;
    width: calc(75% - 1rem);
    position: relative;
}

footer {
    clear: both;
}

.image-container {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 1rem);
}

.image {
    float: left;
    width: calc(100%/3 - 3rem);
    margin-right: 1rem;
}